<!DOCTYPE html>
<html>
<head>
    <style>
       body{
           background-color:lightcoral
       }
    </style>
</head>
<body>
    

    <div>
        @RenderBody()
       
        
    </div>

    
</body>
</html>